main {
    height: fit-content;
    background-color: #eaeded;
    margin-top: 60px;
}

/* Shopping Container */
.shopping-cart-container {
    width: 100%;
    height: fit-content;
    padding: 20px 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}

/* Shopping Cart Left */
.shopping-cart-left {
    width: 75%;
    height: fit-content;
    background-color: #fff;
    padding: 20px 15px;
}

.cart-header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    gap: 5px;
}

/* Cart Products */
.cart-product {
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
}

.cart-product-img {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.cart-header h1 {
    font-size: 25px;
    font-weight: 100;
}

.cart-header p {
    width: fit-content;
    font-size: 14px;
    color: #007185;
    cursor: pointer;
}

.cart-header p:hover {
    text-decoration: 1px underline;
    color: #c7511f;
}

.cart-header span {
    text-align: end;
    color: #565959;
}

.cart-product-details {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart-product-details h3 {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 100;
    overflow: hidden;
}

.cart-product-details .in-stock {
    color: #007600;
}

.cart-product-details p {
    font-size: 12px;
}

.cart-product-details a {
    color: #007185;
}

.cart-product-details a:hover {
    color: #c7511f;
    text-decoration: underline;
}

.cart-product-details img {
    width: 60px;
}

.quantity-delete-buttons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-delete-buttons select {
    height: 25px;
    width: 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.quantity-delete-buttons span {
    color: #007185;
    cursor: pointer;
    font-size: 12px;
    border-left: 1px solid #565959;
    margin-left: 10px;
    padding-left: 10px;
}

.quantity-delete-buttons span:hover {
    text-decoration: underline;
}

.quantity-delete-buttons a {
    font-size: 12px;
    border-left: 1px solid #565959;
    margin-left: 10px;
    padding-left: 10px;
}

.cart-product-price {
    width: 115px;
    height: fit-content;
    display: flex;
    align-items: center;
    text-align: right;  
    justify-content: right;
}

.subtotal-items {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 5px;
}


/* Shopping Cart Right */
.shopping-cart-right {
    width: 25%;
    height: 180px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
}

.eligible-free-delivery {
    display: flex;
    gap: 10px;
    font-size: 12px;
}

.eligible-free-delivery .exclamation-mark {
    width: 35px;
    height: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 55px;
    background-color: #007185;
    color: #fff;
}

.eligible-free-delivery span {
    color: #b12704;
}

.eligible-free-delivery a {
    color: #007185;
}

.eligible-free-delivery a:hover {
    color: #c7511f;
    text-decoration: underline;
}

.shopping-cart-right button {
    width: 100%;
    height: 30px;
    border-radius: 55px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffd814;
}

.shopping-cart-right button:hover {
    background-color: #f7ca00;
}